.abouts{
    margin-top: 300px;
}
.about h2{
    font-weight: 600;
}
.about p{
    color: #a4a4a4;
    font-weight: 400;
}
.btn{
    margin-top: 20px;
    background-color: #364BA0;
    color: #ffff;
    text-decoration: none;
    border: unset;
}
/* Large Desktop */
@media only screen and (min-width: 1025px){
    .about img{
        width: 80%;
    }
    .about h2, .about p{
        text-align: left;
        margin: unset;
    }
    .about h2{
        font-size: 3rem;
    }
    .about p{
        font-size: .9rem;
        width: 90%;
    }
    .about p:nth-child(2){
        padding-top: 20px;
    }
    .about1{
        text-align: unset;
        margin-left: -30px;
    }
}
/* Tablet and Desktop */
@media only screen and (max-width: 1024px){
    .about img{
        width: 100%;
    }
    .about h2, .about p{
        text-align: left;
        margin: unset;
    }
    .about h2{
        font-size: 2rem;
    }
    .about p{
        font-size: .9rem;
        width: 100%;
    }
    .about p:nth-child(2){
        padding-top: 20px;
    }
    .about1{
        text-align: unset;
        margin-left: unset;
    }
}
/* Handphone */
@media only screen and (max-width: 767px){
    .about img{
        width: 80%;
    }
    .about1{
        text-align: center;
        margin-left: unset;
    }
    .about h2, .about p{
        text-align: center;
        margin: auto;
    }
    .about h2{
        font-size: 2rem;
    }
    .about p{
        font-size: .9rem;
        width: 75%;
    }
    .about p:nth-child(2){
        padding-top: 20px;
    }
    
}